POSTGRES_SCHEMA=analytics
POSTGRES_USER=etl_user
POSTGRES_DB=hotel_bookings
POSTGRES_PASSWORD=etl_password

DB_HOST=localhost
HOST_PORT=5432
CONTAINER_PORT=5432

DOCKER_CONTAINER=luxury-explorers-postgres-container
DOCKER_IMAGE=luxury-explorers-postgres-image

PGADMIN_EMAIL=etl_user@postgres.com
PGADMIN_PASSWORD=etl_password
PGADMIN_PORT=5050


API_URL="https://data.cityofnewyork.us/resource/43nn-pn8j.json"
OUTPUT_FILE="data/raw_restaurant_data.csv"
TARGET_RECORDS=11000
BATCH_SIZE=1000

AWS_ACCESS_KEY_ID=12345
AWS_SECRET_ACCESS_KEY=12345
AWS_REGION=ap-southeast-1
S3_BUCKET_NAME=12345